// ===================================================================================================
// Text transformation
// ===================================================================================================

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

// ===================================================================================================
// Text align
// ===================================================================================================

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// ===================================================================================================
// Font weight
// ===================================================================================================

@for $weight from 1 through 9 {

  .font-weight-#{$weight * 100} {
      font-weight: #{$weight * 100};
  }
}

// ===================================================================================================
// Font size
// ===================================================================================================

@for $size from 1 through 120 {

  .font-size-#{$size * 2} {
      font-size: #{$size * 2}px;
  }
}

// ===================================================================================================
// Line height 
// ===================================================================================================

@for $lineHeight from 1 through 60 {

  .line-height-#{$lineHeight * 2} {
      line-height: #{$lineHeight * 2}px;
  }
}

.line-height-1 {
  line-height: 1;
}